header {
	height: 20%;
	width: 50%;
	margin: 10px auto;
	padding-bottom: 0%;
	border: 2px solid #570342;
	opacity: 0.6;
	margin-bottom: 5%;
}
header h1{
	color: #570342;
	text-align: center;
	font-style: italic;
	position: absolute;
	margin-left: 12%;
	width: 30%;
	font-size: 17pt;
}
header h2{
	color: #570342;
	text-align: center;
	text-indent: 2pt;
	position: absolute;
	margin-top: 3%;
	margin-left: 12%;
	width: 30%;
	font-size: 17pt;
}
body{
	font-style: italic;
}
.login{
	opacity: 0.7;
	margin: auto;
	background-color: #E5E5E5;
	border: 2px solid #570342;
	border-radius: 5px;
	width: 30%;
}
.login p{
	text-align: justify;
	width: 70%; 
	margin-left: 15%; 
	font-size: 15px;
}
.login label{
	color: white;
	margin-left: 15%; 
	border-radius: 600px 100px 100px 300px;
	border-color: white;
	background-color: #570342;
}
.login h2{
	color: #570342;
}
.login input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 2px solid black;
	background: transparent;
	outline: none;
	font-weight: bold;
	height: 30px;
	width: 45%;
}
.login input[type="text"]:focus{
	border-bottom-color: dodgerblue;
}
.login input[type="password"]:focus{
	border-bottom-color: dodgerblue;
}
.login input[type="submit"]{
	border-radius: 40px 0px 40px 0px;
	border-color: black;
	margin-left: 15%;
	background-color: white;
	font-weight: bold;
}
.login input:required{
	background: url(../images/asterisk.png) right center no-repeat transparent;
}
.login input:focus:valid{
	border-bottom-color: green;
	background: url(../images/valid.png) right center no-repeat transparent;
}
.login input:focus:invalid{
	border-bottom-color: red;
	background: url(../images/invalid.png) right center no-repeat transparent;
}
.info{
	margin: auto;
	text-align: center;
	font-size: 18px;
	width: 30%;
	margin-bottom: 2%;
	opacity: 0.6;
	font-weight: bold;
	background-color: #D6D6D6;
	border: 1px solid black;
}
.error{
	width: 90%;
	margin: auto;
	background-color: #FFC0CB;
	border: 2px solid red;
	margin-bottom: 5%;
}
.check{
	width: 90%;
	margin: auto;
	background-color: #99FFAC;
	border: 2px solid green;
	margin-bottom: 5%;
}
.message1{
	font-size: 17px;	
}
.message2{
	text-align: justify;
	font-size: 15px;
	font-weight: normal;
	margin-left: 5%;
	margin-right: 5%;	
}